<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path
		d="M6.66602 5H17.4993"
		stroke="url(#paint0_linear_2536_5495)"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<path
		d="M6.66602 10H17.4993"
		stroke="black"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<path
		d="M6.66602 15H17.4993"
		stroke="black"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<path
		d="M2.5 5H2.50833"
		stroke="black"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<path
		d="M2.5 10H2.50833"
		stroke="#E3BD49"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<path
		d="M2.5 15H2.50833"
		stroke="black"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<defs>
		<linearGradient
			id="paint0_linear_2536_5495"
			x1="6"
			y1="5"
			x2="17.5"
			y2="5"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#23197D" />
			<stop offset="1" stop-color="#7569E1" />
		</linearGradient>
	</defs>
</svg>
