<script lang="ts">
	import type { SVGAttributes } from 'svelte/elements';
	type $$Props = SVGAttributes<SVGElement>;
</script>

<svg {...$$props} viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g clip-path="url(#clip0_1570_2554)">
		<path
			d="M4.53564 6.2334L6.30341 8.00117L4.53564 9.76893"
			stroke="white"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M11.4644 9.76893L9.69659 8.00117L11.4644 6.2334"
			stroke="white"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M6.30336 8.00087H2.17857"
			stroke="white"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M9.69664 8.00087H13.8214"
			stroke="white"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
	</g>
	<defs>
		<clipPath id="clip0_1570_2554">
			<rect width="10" height="10" fill="white" transform="translate(8 0.929688) rotate(45)" />
		</clipPath>
	</defs>
</svg>
