<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path
		d="M2.5 9L3 13L5.5 15.5L8 17H11.5L15.5 15L17 12.5L13.5 12L11 10.5L8.53846 7.58333V3L4.5 5L2.5 9Z"
		fill="url(#paint0_linear_2536_5502)"
	/>
	<path
		d="M17.4994 10.6583C17.3683 12.0768 16.836 13.4287 15.9646 14.5557C15.0933 15.6826 13.919 16.5382 12.5792 17.0221C11.2394 17.5061 9.78942 17.5984 8.39901 17.2884C7.00861 16.9784 5.73526 16.2788 4.72795 15.2715C3.72064 14.2642 3.02105 12.9908 2.71102 11.6004C2.40099 10.21 2.49336 8.76007 2.97731 7.42025C3.46127 6.08042 4.31679 4.90614 5.44377 4.03479C6.57076 3.16345 7.92259 2.63109 9.3411 2.5C8.51061 3.62356 8.11097 5.00787 8.21487 6.40118C8.31878 7.79448 8.91931 9.10422 9.90726 10.0922C10.8952 11.0801 12.2049 11.6807 13.5983 11.7846C14.9916 11.8885 16.3759 11.4888 17.4994 10.6583Z"
		stroke="black"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<defs>
		<linearGradient
			id="paint0_linear_2536_5502"
			x1="4.5"
			y1="6"
			x2="7.13671"
			y2="18.8098"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#7569E1" />
			<stop offset="1" stop-color="#7569E1" stop-opacity="0" />
		</linearGradient>
	</defs>
</svg>
