<script lang="ts">
	import type { SVGAttributes } from 'svelte/elements';
	type $$Props = SVGAttributes<SVGElement>;
</script>

<svg xmlns="http://www.w3.org/2000/svg" {...$$props} fill="none" viewBox="0 0 24 24">
	<path
		fill="currentColor"
		d="M12 5C11.7348 5 11.4804 5.10536 11.2929 5.29289C11.1054 5.48043 11 5.73478 11 6V10C11 10.2652 11.1054 10.5196 11.2929 10.7071C11.4804 10.8946 11.7348 11 12 11C12.2652 11 12.5196 10.8946 12.7071 10.7071C12.8946 10.5196 13 10.2652 13 10V6C13 5.73478 12.8946 5.48043 12.7071 5.29289C12.5196 5.10536 12.2652 5 12 5Z"
	/>
	<path
		fill="currentColor"
		fill-rule="evenodd"
		d="M4 8C4 5.87827 4.84285 3.84344 6.34315 2.34315C7.84344 0.842855 9.87827 0 12 0C14.1217 0 16.1566 0.842855 17.6569 2.34315C19.1571 3.84344 20 5.87827 20 8V16C20 18.1217 19.1571 20.1566 17.6569 21.6569C16.1566 23.1571 14.1217 24 12 24C9.87827 24 7.84344 23.1571 6.34315 21.6569C4.84285 20.1566 4 18.1217 4 16V8ZM18 8V16C18 17.5913 17.3679 19.1174 16.2426 20.2426C15.1174 21.3679 13.5913 22 12 22C10.4087 22 8.88258 21.3679 7.75736 20.2426C6.63214 19.1174 6 17.5913 6 16V8C6 6.4087 6.63214 4.88258 7.75736 3.75736C8.88258 2.63214 10.4087 2 12 2C13.5913 2 15.1174 2.63214 16.2426 3.75736C17.3679 4.88258 18 6.4087 18 8Z"
		clip-rule="evenodd"
	/>
</svg>
