<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path
		d="M3.5 16V18H16.5L17 16.5L16.5 14.5L15.5 13.5L14 12.5H11.5H8.5H6L4.5 13L3.5 14V16Z"
		fill="url(#paint0_linear_2536_5492)"
	/>
	<path
		d="M16.6673 17.5V15.8333C16.6673 14.9493 16.3161 14.1014 15.691 13.4763C15.0659 12.8512 14.218 12.5 13.334 12.5H6.66732C5.78326 12.5 4.93542 12.8512 4.31029 13.4763C3.68517 14.1014 3.33398 14.9493 3.33398 15.8333V17.5"
		stroke="black"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<path
		d="M9.99935 9.16667C11.8403 9.16667 13.3327 7.67428 13.3327 5.83333C13.3327 3.99238 11.8403 2.5 9.99935 2.5C8.1584 2.5 6.66602 3.99238 6.66602 5.83333C6.66602 7.67428 8.1584 9.16667 9.99935 9.16667Z"
		fill="#7569E1"
		stroke="black"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
	<defs>
		<linearGradient
			id="paint0_linear_2536_5492"
			x1="4"
			y1="13.5"
			x2="13"
			y2="17"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#7569E1" />
			<stop offset="1" stop-color="#7569E1" stop-opacity="0" />
		</linearGradient>
	</defs>
</svg>
