<script lang="ts">
	import type { SVGAttributes } from 'svelte/elements';
	type $$Props = SVGAttributes<SVGElement>;
</script>

<svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" {...$$props}>
	<path
		d="M4.16675 2.5L15.8334 10L4.16675 17.5V2.5Z"
		stroke="#070519"
		stroke-width="3"
		stroke-linecap="round"
		stroke-linejoin="round"
	/>
</svg>
