<script lang="ts">
	import type { SVGAttributes } from 'svelte/elements';
	type $$Props = SVGAttributes<SVGElement>;
</script>

<svg {...$$props} viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g clip-path="url(#clip0_3607_1064)">
		<path
			d="M16.4153 10.9913C16.2768 10.883 16.2068 10.71 16.2233 10.5349C16.2398 10.3606 16.2504 10.1838 16.2504 9.99999C16.2504 9.81617 16.2398 9.63937 16.2233 9.46504C16.2068 9.28999 16.2768 9.11702 16.4153 9.00871L17.9504 7.80832C18.1087 7.68332 18.1504 7.45832 18.0504 7.27499L16.3837 4.39166C16.2837 4.20832 16.0587 4.14166 15.8754 4.20832L14.0653 4.93527C13.9011 5.0012 13.7152 4.9742 13.5704 4.87252C13.2804 4.66886 12.9757 4.49056 12.654 4.33992C12.4935 4.26476 12.3766 4.11725 12.3514 3.9418L12.0754 2.01666C12.0504 1.81666 11.8754 1.66666 11.667 1.66666H8.33369C8.12535 1.66666 7.95035 1.81666 7.92535 2.01666L7.6493 3.9418C7.62414 4.11725 7.50721 4.26472 7.34696 4.34043C7.02442 4.49282 6.71902 4.6747 6.42844 4.87679C6.28498 4.97656 6.10133 5.00189 5.93918 4.93677L4.12535 4.20832C3.93369 4.13332 3.71702 4.20832 3.61702 4.39166L1.95035 7.27499C1.84202 7.45832 1.89202 7.68332 2.05035 7.80832L3.58539 9.00871C3.7239 9.11702 3.794 9.29 3.77756 9.46506C3.76096 9.64183 3.75035 9.82091 3.75035 9.99999C3.75035 10.1791 3.76096 10.3581 3.77756 10.5349C3.794 10.71 3.7239 10.883 3.58539 10.9913L2.05035 12.1917C1.89202 12.3167 1.85035 12.5417 1.95035 12.725L3.61702 15.6083C3.71702 15.7917 3.94202 15.8583 4.12535 15.7917L5.93544 15.0647C6.09961 14.9988 6.28554 15.0258 6.43031 15.1275C6.72026 15.3311 7.02496 15.5094 7.34672 15.6601C7.50725 15.7352 7.62414 15.8827 7.6493 16.0582L7.92535 17.9833C7.95035 18.1833 8.12535 18.3333 8.33369 18.3333H11.667C11.8754 18.3333 12.0504 18.1833 12.0754 17.9833L12.3514 16.0582C12.3766 15.8827 12.4935 15.7353 12.6538 15.6595C12.9763 15.5072 13.2817 15.3253 13.5723 15.1232C13.7157 15.0234 13.8994 14.9981 14.0615 15.0632L15.8754 15.7917C16.067 15.8667 16.2837 15.7917 16.3837 15.6083L18.0504 12.725C18.1504 12.5417 18.1087 12.3167 17.9504 12.1917L16.4153 10.9913ZM10.0004 12.9167C8.39202 12.9167 7.08369 11.6083 7.08369 9.99999C7.08369 8.39166 8.39202 7.08332 10.0004 7.08332C11.6087 7.08332 12.917 8.39166 12.917 9.99999C12.917 11.6083 11.6087 12.9167 10.0004 12.9167Z"
			fill="currentColor"
		/>
	</g>
	<defs>
		<clipPath id="clip0_3607_1064">
			<rect width="20" height="20" fill="currentColor" />
		</clipPath>
	</defs>
</svg>
