:root {
	/* =~= Theme Properties =~= */
    --theme-font-family-base: 'Kokoro', sans-serif;
    --theme-font-family-heading: 'Kokoro', sans-serif;
    --theme-font-color-base: 0 0 0;
    --theme-font-color-dark: 255 255 255;
    --theme-rounded-base: 8px;
    --theme-rounded-container: 8px;
    --theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
    --on-primary: 0 0 0;
    --on-secondary: 255 255 255;
    --on-tertiary: 0 0 0;
    --on-success: 0 0 0;
    --on-warning: 0 0 0;
    --on-error: 255 255 255;
    --on-surface: var(--color-primary-200);
	/* =~= Theme Colors  =~= */
	/* primary | #7569E1 */
    --color-primary-50: 234 233 251; /* ⬅ #eae9fb */
    --color-primary-100: 227 225 249; /* ⬅ #e3e1f9 */
    --color-primary-200: 221 218 248; /* ⬅ #dddaf8 */
    --color-primary-300: 200 195 243; /* ⬅ #c8c3f3 */
    --color-primary-400: 158 150 234; /* ⬅ #9e96ea */
    --color-primary-500: 117 105 225; /* ⬅ #7569E1 */
    --color-primary-600: 105 95 203; /* ⬅ #695fcb */
    --color-primary-700: 88 79 169; /* ⬅ #584fa9 */
    --color-primary-800: 70 63 135; /* ⬅ #463f87 */
    --color-primary-900: 57 51 110; /* ⬅ #39336e */
	/* secondary | #4F46E5 */
    --color-secondary-50: 229 227 251; /* ⬅ #e5e3fb */
    --color-secondary-100: 220 218 250; /* ⬅ #dcdafa */
    --color-secondary-200: 211 209 249; /* ⬅ #d3d1f9 */
    --color-secondary-300: 185 181 245; /* ⬅ #b9b5f5 */
    --color-secondary-400: 132 126 237; /* ⬅ #847eed */
    --color-secondary-500: 79 70 229; /* ⬅ #4F46E5 */
    --color-secondary-600: 71 63 206; /* ⬅ #473fce */
    --color-secondary-700: 59 53 172; /* ⬅ #3b35ac */
    --color-secondary-800: 47 42 137; /* ⬅ #2f2a89 */
    --color-secondary-900: 39 34 112; /* ⬅ #272270 */
	/* tertiary | #0EA5E9 */
    --color-tertiary-50: 219 242 252; /* ⬅ #dbf2fc */
    --color-tertiary-100: 207 237 251; /* ⬅ #cfedfb */
    --color-tertiary-200: 195 233 250; /* ⬅ #c3e9fa */
    --color-tertiary-300: 159 219 246; /* ⬅ #9fdbf6 */
    --color-tertiary-400: 86 192 240; /* ⬅ #56c0f0 */
    --color-tertiary-500: 14 165 233; /* ⬅ #0EA5E9 */
    --color-tertiary-600: 13 149 210; /* ⬅ #0d95d2 */
    --color-tertiary-700: 11 124 175; /* ⬅ #0b7caf */
    --color-tertiary-800: 8 99 140; /* ⬅ #08638c */
    --color-tertiary-900: 7 81 114; /* ⬅ #075172 */
	/* success | #84cc16 */
    --color-success-50: 237 247 220; /* ⬅ #edf7dc */
    --color-success-100: 230 245 208; /* ⬅ #e6f5d0 */
    --color-success-200: 224 242 197; /* ⬅ #e0f2c5 */
    --color-success-300: 206 235 162; /* ⬅ #ceeba2 */
    --color-success-400: 169 219 92; /* ⬅ #a9db5c */
    --color-success-500: 132 204 22; /* ⬅ #84cc16 */
    --color-success-600: 119 184 20; /* ⬅ #77b814 */
    --color-success-700: 99 153 17; /* ⬅ #639911 */
    --color-success-800: 79 122 13; /* ⬅ #4f7a0d */
    --color-success-900: 65 100 11; /* ⬅ #41640b */
	/* warning | #E3BD49 */
    --color-warning-50: 251 245 228; /* ⬅ #fbf5e4 */
    --color-warning-100: 249 242 219; /* ⬅ #f9f2db */
    --color-warning-200: 248 239 210; /* ⬅ #f8efd2 */
    --color-warning-300: 244 229 182; /* ⬅ #f4e5b6 */
    --color-warning-400: 237 214 141; /* ⬅ #EDD68D */
    --color-warning-500: 227 189 73; /* ⬅ #E3BD49 */
    --color-warning-600: 204 170 66; /* ⬅ #ccaa42 */
    --color-warning-700: 170 142 55; /* ⬅ #aa8e37 */
    --color-warning-800: 136 113 44; /* ⬅ #88712c */
    --color-warning-900: 111 93 36; /* ⬅ #6f5d24 */
	/* error | #D41976 */
    --color-error-50: 249 221 234; /* ⬅ #f9ddea */
    --color-error-100: 246 209 228; /* ⬅ #f6d1e4 */
    --color-error-200: 244 198 221; /* ⬅ #f4c6dd */
    --color-error-300: 238 163 200; /* ⬅ #eea3c8 */
    --color-error-400: 225 94 159; /* ⬅ #e15e9f */
    --color-error-500: 212 25 118; /* ⬅ #D41976 */
    --color-error-600: 191 23 106; /* ⬅ #bf176a */
    --color-error-700: 159 19 89; /* ⬅ #9f1359 */
    --color-error-800: 127 15 71; /* ⬅ #7f0f47 */
    --color-error-900: 104 12 58; /* ⬅ #680c3a */
	/* surface | #070519 */
    --color-surface-50: 218 218 221; /* ⬅ #dadadd */
    --color-surface-100: 205 205 209; /* ⬅ #cdcdd1 */
    --color-surface-200: 193 193 198; /* ⬅ #c1c1c6 */
    --color-surface-300: 156 155 163; /* ⬅ #9c9ba3 */
    --color-surface-400: 30 32 54; /* ⬅ #1E2036 */
    --color-surface-500: 7 5 25; /* ⬅ #070519 */
    --color-surface-600: 6 5 23; /* ⬅ #060517 */
    --color-surface-700: 5 4 19; /* ⬅ #050413 */
    --color-surface-800: 4 3 15; /* ⬅ #04030f */
    --color-surface-900: 3 2 12; /* ⬅ #03020c */
}
